.edit-button {
    width: 40px;
    height: 40px;
border-radius: 50%;
  background-color: rgb(7, 186, 199);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  position: relative;
  text-decoration: none;
width: 40px;
  height: 40px;
  overflow: hidden;
}

.edit-svgIcon {
  width: 20px;
  height: 20px;
  transition-duration: 0.3s;
  flex-shrink: 0;
}

.edit-svgIcon path {
  fill: white;
}

.edit-button:hover {
  width: 120px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(33, 150, 243);
  align-items: center;
  transition-duration: 0,3s;
}

.edit-button:hover .edit-svgIcon {
  width: 20px;
  transition-duration: 0.6s;
  transform: rotate(180deg);
}

.edit-button::before {
  display: none;
  content: "Editar";
  color: white;
  transition-duration: 0.3s;
  font-size: 2px;
}

.edit-button:hover::before {
  display: block;
  padding-right: 10px;
  font-size: 13px;
  opacity: 1;
  transform: translateY(0px);
  transition-duration: 0.3s;
}

.delete-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(8, 79, 173);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.delete-svgIcon {
  width: 15px;
  transition-duration: 0.3s;
  flex-shrink: 0;
}

.delete-svgIcon path {
  fill: white;
}

.delete-button:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(128, 19, 253);
  align-items: center;
}

.delete-button:hover .delete-svgIcon {
  width: 50px;
  transition-duration: 0.3s;
  transform: translateY(60%);
}

.delete-button::before {
  position: absolute;
  top: -20px;
  content: "Eliminar";
  color: white;
  transition-duration: 0.3s;
  font-size: 2px;
}

.delete-button:hover::before {
  font-size: 13px;
  opacity: 1;
  transform: translateY(30px);
  transition-duration: 0.3s;
}

.view-button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  width: 150px;
  height: auto;
}

.view-circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 2.5rem;
  height: 2.5rem;
  background: #888;
  border-radius: 1.625rem;
}

.view-circle .view-icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  margin-left: -3px;
  background: #fff;
  flex-shrink: 0;
}

.view-circle .view-icon.view-arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.view-circle .view-icon.view-arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

.view-button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.55rem 0;
  margin: 0 0 0 1.85rem;
  color: #66666600;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  margin-left: 12px;
  margin-top: 2px;
}

.view-button:hover .view-circle {
  width: 100%;
}

.view-button:hover .view-circle .view-icon.view-arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

.view-button:hover .view-button-text {
  color: #fff;
}